html {
    height: 100%;
    width: 100%;
  }
  
  .upload-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust the height as needed */
    width: 60%; /* Adjust the width as needed */
    border: 2px dashed #718096;
    border-radius: 8px;
    color: #718096;
    text-align: center;
    cursor: pointer;
    margin: 100px auto; /* Center horizontally */
  }
  
  .hidden {
    display: none;
  }
  
  .generate-caption-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }

  .file-container {
    display: flex;
    justify-content: space-between; /* To separate the buttons */
    align-items: center; /* Vertically center items */
    margin-bottom: 5px;
    background-color: #718096;
    padding: 8px;
  }
  
  .file-container p {
    margin: 0;
  }
  
  .remove-button,
  .generate-caption-button {
    padding: 8px 12px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease; 
  }
  
  .remove-button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .generate-caption-button {
    background-color: #3498db;
    color: white;
  }
  
  /* Hover effect */
  .remove-button:hover,
  .generate-caption-button:hover {
    transform: translateX(-3px); /* Moves the button slightly to the left */
  }
  